# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local volumes of the monitoring stack
mlflow_data/
grafana_data/
